# Local .terraform directories
**/.terraform/*

# Lock files
**/.terraform.lock.hcl

# State files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files (potentially sensitive)
*.tfvars
*.tfvars.json

# Local override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI config files
.terraformrc
terraform.rc

# Terraform plan files (customize the pattern if you use a different name)
*.tfplan
